
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Bu projede neler var?</h1>
<p style="margin-left:20px; margin-top:30px; font-size:17px; ">
    Ado.Net data model ile veri tabanı bağlantısı 
    <br />
    CRUD işlemleri
    <br />
    DropdownList ile veri listeleme , listelenen verileri güncelleme
    <br />
    Validation Control
    <br />
    Paging
    <br />
    Alert
    <br />
    Popup Modal Kullanımı
    <br />
    Arama Paneli
    <br />
    Jquery ile paging ve search
  
</p>
