@model MvcStock.Models.Entity.TBL_CATEGORY
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Kategori Getir</h2>

@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m=>m.CATEGORYID)
                    @Html.TextBoxFor(m=>m.CATEGORYID,new { @class="form-control"})
                    <br />
                    @Html.LabelFor(m=>m.CATEGORYNAME)
                    @Html.TextBoxFor(m=>m.CATEGORYNAME, new {@class="form-control"})
                </div>
                <div>
                    <button class="btn btn-warning">Kaydet</button>
                </div>
            }

